header {
    text-align: center;
    padding-top: 12px;
    background-color: #E9463F;
    border-bottom: 12px solid white;
}

form {
    padding-bottom: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: #64B9E0;
    overflow: hidden;
}

.character-info {
    
    margin: 100px;
    width: auto;
    max-width: 770px;
    height: 10%;
    border: 2px solid #0082A8;
    background-color: whitesmoke;
    transition: 2s;
   
}



#image {
padding-top: 15px;
margin: 70px;  
border-radius: 25% 10%;  

}

footer {
    background-color: #E9463F;
}