header {
    text-align: center;
    padding-top: 12px;
    background-color: #E9463F;
    border-bottom: 12px solid white;
}

form {
    padding-bottom: 10px;
}

.container {
    display: flex;
    align-items: center;
    background-color: #64B9E0;
    
}

.character-info {
    flex: 1;
    order: 2;
    border: 2px solid #0082A8;
    background-color: whitesmoke;
    
 
}

#name, #full-name, #alter-egos, #publisher {
    display: flex;
    margin: auto;
    ;
}

#image {
padding-top: 15px;
margin: 70px;  
border-radius: 25% 10%;  
}

footer {
    background-color: #E9463F;
}